.rui{

	justify-content: center;
	align-content: center;
	display: flex;
	font-size: 45px;
	color: black;
	padding-top: 30px;
	font-family: 'Roboto Condensed', sans-serif;
}

.centrado{
	display: flex;
	justify-content: center;
	align-content: center;
}

.fondo{
	background: url(https://www.laparisina.mx/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/5/5/5513l19_02_1.jpg);
	background-size: cover no-repeat;
}

